@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*--------------------COLORES--------------------*/
:root{
    --primary_color: #F4858E;
    --secondary_color: #cd516e;
    --darker_secondary_color: #ab435b;

}
/*--------------------COLORES--------------------*/

*{
    margin: 0;
    padding: 0;
    font-family: "Rubik";
    box-sizing: border-box;
}

/*--------------------NAVIGATION--------------------*/
section.header{
    min-height: 75vh;
    background-repeat: no-repeat;
    background-image: url(../Assets/images/Banners/banner-xl.jpg);
}

section.header nav{
    padding: 3% 0%;
    transition: 1s;
    text-align: center;
}

ul.nav-links{
    word-spacing: 30px;
}

ul.nav-links li{
    display: inline-block;
}

ul.nav-links li a{
    font-size: 24px;
    color: #24181D;
    text-decoration: none;
    text-transform: uppercase;
}

ul.nav-links li a::after{/*subrayado en las categorias*/
    width: 0%;
    height: 3px;
    content: "";
    margin: auto;
    display: block;
    transition: 0.5s;
    background: var(--primary_color);
}

.nav-links li a:hover::after{/*le doy un ancho al subrayado en el hover*/
    width: 100%;
}

section.header nav.sticky{/*propiedades que toma la navegación después de scrollear para que quede fijo*/
    top: 0;
    left: 0;
    width: 100%;
    padding: 1%;
    position: fixed;
    z-index: 100;
    background-color: var(--primary_color);
}

nav.sticky ul.nav-links li a{
    color: white;
}

nav.sticky ul.nav-links li a::after{
    background: white;
}
/*--------------------NAVIGATION--------------------*/

/*--------------------PRESENTACION--------------------*/
section.presentacion{
    width: 60%;
    display: flex;
    margin: 50px auto 50px auto;
}

section.presentacion div{
    margin: auto;
    font-size: 25px;
    color: var(--primary_color);
    text-align: center;
}
/*--------------------PRESENTACION--------------------*/

/*--------------------COCCIÓN--------------------*/
section.coccion{
    width: 80%;
    margin: auto;
}

section.coccion h1{
    font-size: 50px;
    color: var(--secondary_color);
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

section.coccion div.card-row{
    display: flex;
    justify-content: space-around;/*ver la diferencia entre space-around y space-between*/
}

section.coccion div.card-row div.single-card div.top{
    width: 280px;
    height: 150px;
    padding: 20px;
    text-align: center;
    background-color: var(--secondary_color);
    border-radius: 21px 21px 0px 0px;
}

section.coccion div.card-row div.single-card div.top h3{
    color: white;
    font-weight: bold;
}

section.coccion div.card-row div.single-card div.bottom{
    width: 280px;
    height: 266px;
    border: 1px solid #ab435b;
    border-radius: 0px 0px 21px 21px;
}

section.coccion div.card-row div.single-card div.bottom p{
    display: flex;
    padding: 10px;
    font-size: 21px;
}

section.coccion div.card-row div.single-card div.bottom span{
    color: white;
    padding: 20px;
    font-size: 21px;
    font-weight: bold;
    border-radius: 50%;
    margin-right: 13px;
    background-color: var(--primary_color);
}
/*--------------------COCCIÓN--------------------*/

/*--------------------CATEGORIAS--------------------*/
section.categorias{
    margin: 80px auto;
    text-align: center;
}

section.categorias button{
    background: none;
    border: none;
    position: relative;
    top: -90px;
}

section.categorias button img.arrow{
    width: 40px;
    height: 40px;
    transition: 0.5s;
}

section.categorias img.arrow:hover{
    cursor: pointer;
    transform: scale(1.5);
}

section.categorias div.categoria{
    display: inline-block;
}

section.categorias div.categoria p{
    text-transform: uppercase;
}

section.categorias div.categoria div.circle-background{
    background-color: var(--primary_color);
    padding: 40px;
    border-radius: 50%;
    margin: 20px 40px;
    transition: 0.5s;
}

section.categorias div.categoria div.circle-background:hover{
    cursor: pointer;
    transform: scale(0.8);
}
/*--------------------CATEGORIAS--------------------*/


/*--------------------RECETAS--------------------*/
section.recetas{
    width: 80%;
    margin: 80px auto;
}

section.recetas div.row{
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
}

section.recetas div.row div.card-receta{
    position: relative;
}

section.recetas div.row div.card-receta img{
    border-radius: 20px;
}

section.recetas div.row div.card-receta p{
    font-size: 21px;
    color: white;
    text-align: center;
    position: absolute;
    top: 80%;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: rgba(205, 81, 110, 0.5);
    border-radius: 0 0 20px 20px;
}

/*--------------------RECETAS--------------------*/

.footer_rojo{
    padding-left: 70px;
    display: flex;
    background-color: var(--primary_color);
    color: white;
}

.ideas{
    text-align: center;
    margin: auto;
    font-size: 150%;
}

.footer_blanco{
    display: flex;
    justify-content: space-between;
    padding: 40px 70px; 
}

.der{
    display: flex;
    gap: 30px;
}

.m{
    text-align: center;
    background-color: var(--secondary_color);
    color: white;
    border-radius: 10px;
    padding-bottom: 10px;
    border: var(--secondary_color) 2px solid;
    font-size: 18px;
    background-size:contain;
}