@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Rubik";
    box-sizing: border-box;
}

/*--------------------NAVIGATION--------------------*/
section.header{
    min-height: 75vh;
    background-repeat: no-repeat;
    background-image: url(../Assets/images/Banners/banner-xl.jpg);
}

section.header nav{
    padding: 3% 0%;
    transition: 1s;
    text-align: center;
}

ul.nav-links{
    word-spacing: 30px;
}

ul.nav-links li{
    display: inline-block;
}

ul.nav-links li a{
    font-size: 24px;
    color: #24181D;
    text-decoration: none;
    text-transform: uppercase;
}

ul.nav-links li a::after{/*subrayado en las categorias*/
    width: 0%;
    height: 3px;
    content: "";
    margin: auto;
    display: block;
    transition: 0.5s;
    background: #F4858E;
}

.nav-links li a:hover::after{/*le doy un ancho al subrayado en el hover*/
    width: 100%;
}

section.header nav.sticky{/*propiedades que toma la navegación después de scrollear para que quede fijo*/
    top: 0;
    left: 0;
    width: 100%;
    padding: 1%;
    position: fixed;
    background-color: #F4858E;
}

nav.sticky ul.nav-links li a{
    color: white;
}

nav.sticky ul.nav-links li a::after{
    background: white;
}
/*--------------------NAVIGATION--------------------*/

.presentacion{
    margin: 40px 18% 40px 18%;
    width: 65%;
}

.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

.izqpres{
    flex-basis: 65%;
}

.derpres{
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 25px;
    color: #F4858E;
}

.formas{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
h1{
    font-size: 50px;
    font-weight: 300;
    color: #AB5D68;
}

.h_formas{
    flex-basis: 31%;
    background: #AB5D68;
    border-radius: 10px;
    padding: 20px 3px 3px 3px;
    color: white;
}

.cont_formas{
    padding: 20px 20px;
    background-color: white;
    border: 1px #AB5D68 solid;
    color: #24181D;
}

h3{
    text-align: center;
    font-weight: 300;
    margin: 10px 0;
}

.ilustraciones{
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.img_ilustraciones{
    margin: auto;
    display: flex;
    width: 150px;
    height: 150px;
    background-color:#F4858E; 
    border-radius: 50% ;
    padding: 20px;
}

.img_ilustraciones img{
    color: white;
}

.footer_rojo{
    padding-left: 70px;
    display: flex;
    background-color: #F4858E;
    color: white;
}

.ideas{
    text-align: center;
    margin: auto;
    font-size: 150%;
}

.footer_blanco{
    display: flex;
    justify-content: space-between;
    padding: 40px 70px; 
}

.der{
    display: flex;
    gap: 30px;
}

.m{
    text-align: center;
    background-color: #AB5D68;
    color: white;
    border-radius: 10px;
    padding-bottom: 10px;
    border: #AB5D68 2px solid;
    font-size: 18px;
    background-size:contain;
}